.Playlist_container{
    width: 45%;
    margin-right: 10%;
    margin-left: 5%;
    padding: 10px;
    border-radius: 5px;
}

.Playlist_controls {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    height: 40px;
}
