.searchResults_container{
    width: 45%;
    margin-left: 10%;
    margin-right: 5%;
    background-color:rgb(137, 137, 255);
    padding: 10px;
    border-radius: 5px;
}

h2 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    height: 40px;
    font-size: 2em;
  
}